name: CI Pipeline

#Trigger workflow on push and pull request
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      # Additional job to run unit tests in parallel with Docker build
      - name: Run tests
        run: |
          pytest

      # Send email if tests fail
      - name: Send failure email
        if: failure()
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: "CI Tests Failed"
          to: your-email@example.com
          from: CI Pipeline
          body: "The CI tests for the FlaskApp repository have failed."

  docker:
    runs-on: ubuntu-latest
    needs: build        # depends on the "build" job
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Push image to two different registries (Login to GHCR)
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/flaskapp:latest .

      - name: Push Docker image to Docker Hub
        run: docker push ${{ secrets.DOCKER_USERNAME }}/flaskapp:latest

      - name: Push Docker image to GHCR
        run: |
          docker tag ${{ secrets.DOCKER_USERNAME }}/flaskapp:latest ghcr.io/${{ github.repository_owner }}/flaskapp:latest
          docker push ghcr.io/${{ github.repository_owner }}/flaskapp:latest
